<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>cnhylbhatbayvar@tznvy.pbz</string>
	<key>contactName</key>
	<string>Paul Young</string>
	<key>description</key>
	<string>Support for the Flow Based Programming DSL.</string>
	<key>name</key>
	<string>FBP</string>
	<key>uuid</key>
	<string>75E533B2-D7D2-442B-BCDF-984EF0B5D414</string>
</dict>
</plist>
